---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 3;
---
<h1>Hello 👋🏻</h1>

<p>I'm a front-end software engineer currently building <a href="https://www.freeagent.com">FreeAgent's</a> Design System. </p>

<p>I enjoy thinking about the usability, accessibility and performance of the things
I build. I have a keen interest in design 🧑🏻‍🎨 and how it can improve people's lives.</p>

<p>I live in Scotland and have 2 🐈 Norwegian forest cats 🐈 that keep me busy most of the time!</p>

<h2>Recent posts</h2>
{% set postslist = collections.posts %}
{% include "postslist.njk" %}
